body {
  text-align: center;
  background: url(https://img.freepik.com/free-vector/sky-background-video-conferencing_23-2148639325.jpg?semt=ais_hybrid);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: azure;
  margin-bottom: 20px;
}


.button_con {
  height: auto;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}


.button {
  margin: 5px;
}
.button.selected {

  background-color: black;
  color: gold;
  border-color: gold;
}

.error-message {
  color: rgb(255, 0, 0);
  font-size: 25px;
  font-weight: 700;
}